<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Angular Auth Boilerplate</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
            <a *ngIf="account.role === Role.Admin" class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            <a class="nav-item nav-link" style="cursor:pointer" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<!-- subnav router outlet (used by admin section) -->
<router-outlet name="subnav"></router-outlet>

<!-- global alert -->
<alert></alert>

<!-- main router outlet -->
<div class="app-container" [class.bg-light]="account">
    <router-outlet></router-outlet>
</div>
